---
- name: Check required values
  ansible.builtin.assert:
    that:
      - openfortigui_aes_iv | length == 16
      - openfortigui_aes_key | length == 16
    fail_msg: "'openfortigui_aes_iv' and 'openfortigui_aes_key' need to be set and have exactly 16 characters!"

- name: Specific tasks for this OS
  ansible.builtin.include_tasks:
    file: "{{ ansible_facts['os_family'] | lower }}.yml"
  vars:
    ansible_become: true

- name: Create directories
  ansible.builtin.file:
    path: "{{ item.path }}"
    mode: "{{ item.mode }}"
    state: directory
  loop:
    - path: "{{ openfortigui_user_config_dir }}"
      mode: "0750"
    - path: "{{ openfortigui_user_autostart_dir }}"
      mode: "0775"

- name: Create config file
  ansible.builtin.copy:
    content: "{{ openfortigui_main_conf }}"
    dest: "{{ openfortigui_user_config_dir }}/main.conf"
    mode: "0664"
    backup: true
  diff: true

- name: Configure app autostart
  ansible.builtin.file:
    src: /usr/share/applications/openfortigui.desktop
    dest: "{{ openfortigui_user_autostart_dir }}/openfortigui.desktop"
    state: link
  when: openfortigui_autostart is truthy
